*{
    box-sizing: border-box;
}

.singlehead {
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }

.singleul {
    list-style-type: none;
    padding: 0;
  }

.singlenav {
    float: left;
    width: 30%;
    height: 100%;
    padding: 20px;
  }

.singlearticle {
    float: right;
    padding: 20px;
    padding-left: 150px;
    height: 100%;
    width: 70%;
  }

.singlesection:after {
    content: "";
    display: table;
    clear: both;
  }

  @media (max-width: 600px) {
    singlenav, singlearticle {
      width: 100%;
      height: auto;
    }
}

/*
holder for header. Tbh Dont need rn. Just need to change the link on the right to return to main landing page
.singleheader{
    position:absolute;
    top:0;
    left:0;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    height:70px;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    z-index:10
}
        
.singleheader--logo{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;text-decoration:none;color:#eea47fff}

.singleheader--logo p{margin:0 0 0 10px;font-size:16px;font-weight:700;text-transform:uppercase}

.singleheader--nav-toggle{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:50px;height:50px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;cursor:pointer}

.singleheader--nav-toggle span,

.singleheader--nav-toggle::before,

.singleheader--nav-toggle::after{content:"";position:relative;width:16px;height:2px;background-color:#eea47fff}.header--nav-toggle::before{bottom:5px;width:23px}
.singleheader--nav-toggle::after{top:5px;width:23px}
.singleheader--cta{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);padding:0 20px;line-height:30px;text-decoration:none;color:#eea47fff;font-weight:700;text-transform:uppercase;background-color:#00539cff;border:none;opacity:0;visibility:hidden;-webkit-transition:opacity .4s ease-in-out,visibility 0s .4s;transition:opacity .4s ease-in-out,visibility 0s .4s}

.singleheader--cta:focus{outline:none}
.singleheader--cta.is-active{opacity:1;visibility:visible;-webkit-transition:opacity .4s ease-in-out .4s;transition:opacity .4s ease-in-out .4s}
@media (max-width: 767px){.header--cta{display:none}}

Holder for the intro page. Need to break down.
.singleintro{
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:900px;
    max-width:90%;
    height:100%;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pac:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin:0 auto
}

@media (max-width: 1180px){
    .singleintro{max-width:100%}}
    .singleintro--banner{position:relative;height:475px}


.singleintro--banner h1{
    position:relative;
    font-size:68px;
    font-weight:900;
    line-height:1;
    z-index:1}
    */